<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!---底部开始-->
<footer class="myfooter" th:fragment="footer">
    <!--底部导航-->
    <div class="foot-nav">
        <div class="copy-right"><span >CopyRight © 2018-2021 Tinko博客     Design by http:tinko.xyz</span></div>
        <div class="bottom-nav">
			<span>
                <a href="http://www.miitbeian.gov.cn/"> 蜀ICP备18032520号</a>
            </span>
        </div>
    </div>
    <div  id="toTop">Back to Top</div>

    <script type="text/javascript">
        window.onload = function () {
            $(".img_loading").removeClass("img_loading");
            $(".silde-title").show();

            $(".comment_txt").each(function () {
                $(this).html($(this).html().replace(/\[Q([0-9]*)\]/g, "<img src='{$smarty.const.HOME_IMG}face/mr/$1.gif'>"));
                $(this).html($(this).html().replace(/\[yc_([0-9]*)\]/g, "<img src='{$smarty.const.HOME_IMG}face/yc/$1.gif'>"));
                $(this).html($(this).html().replace(/\[ali_([0-9]*)\]/g, "<img src='{$smarty.const.HOME_IMG}face/ali/$1.gif'>"));
            })
            //$("#comment_txt").text($("#comment_txt").text().replace(/\[Q([0-9]*)\]/g, "<img src='{$smarty.const.HOME_IMG}face/mr/$1.gif'>"));
            //$("#comment_txt").text($("#comment_txt").text().replace(/\[yc_([0-9]*)\]/g, "<img src='{$smarty.const.HOME_IMG}face/yc/$1.gif'>"));
            //$("#comment_txt").text($("#comment_txt").text().replace(/\[ali_([0-9]*)\]/g, "<img src='{$smarty.const.HOME_IMG}face/ali/$1.gif'>"));
            //document.getElementById('comment_txt').innerHTML = document.getElementById('comment_txt').innerHTML.replace(/\[Q([0-9]*)\]/g, "<img src='{$smarty.const.HOME_IMG}face/mr/$1.gif'>");
            //document.getElementById('comment_txt').innerHTML = document.getElementById('comment_txt').innerHTML.replace(/\[yc_([0-9]*)\]/g, "<img src='{$smarty.const.HOME_IMG}face/yc/$1.gif'>");
            //document.getElementById('comment_txt').innerHTML = document.getElementById('comment_txt').innerHTML.replace(/\[ali_([0-9]*)\]/g, "<img src='{$smarty.const.HOME_IMG}face/ali/$1.gif'>");
        }
        $(function () {
            var swiper = new Swiper('.swiper-container', {
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                pagination: '.swiper-pagination',
                paginationType: 'fraction',
                centeredSlides: true,
                autoplay: 5500, //自动播放时间
                autoHeight: true //自动高度
            });
            //瀑布流
            $('.su').jaliswall({ item: '.su-li' });
        });
        ajaxEash(".icon-speech", "", 0);
        ajaxEash(".icon-eye", "", 1);
    </script>



    <div class="select-skin">
        <div class="skin-btn">
            <a href="javascript:void(0);" class="skin-btn-open">换<br>肤</a>
        </div>

        <div class="skin-content">
            <h1>选择风格<span class="skin-close">关闭</span></h1>
            <div class="skin-content-list">
                <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('qingxin'); return false;" class="btn1">清新</a></div>
                <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('jianyue'); return false;" class="btn2">简约</a></div>
                <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('qingshuang'); return false;" class="btn3">清爽</a></div>
            </div>
        </div>
    </div>

    <!-- 第三方登录 -->
    <div class="login" id="login" style="display:none">
        <div id="login_main">
            <div id="xx" class="xx"><i class="fa fa-times"></i></div>
            <div id="login_a">
                <div class="login_logo">
                </div>
                <div class="login_hr">
                    <div class="login_logo_hr1"></div>
                    <div class="login_logo_txt">使用第三方账号登录</div>
                    <div class="login_logo_hr1"></div>
                </div>
                <div class="login_ico" style="clear:both">
                    <a href="/Home/User/qq"><div class="login_ico1"></div></a>
                    <a href=""><div class="login_ico2"></div></a>
                    <a href=""><div class="login_ico3"></div></a>
                </div>
                <div class="login_nei">
                    <a id="login_ji" href="javascript:;">手机号/站内账号登录</a>
                </div>
                <div class="login_nei1">
                    <span>还没有账号?</span><a id="reg_a" href="javascript:;">注册新账号</a>
                </div>

                <br />
                <br />
                <br />
            </div>

            <!-- 站内账号登录 -->
            <div id="login_b" style="display:none">
                <div id="fan1" class="fan" onclick="fan_login()">返回</div>
                <div class="login_logo">
                </div>
                <div class="login_hr">
                    <div class="login_logo_hr1"></div>
                    <div class="login_logo_txt">使用站内账号登录</div>
                    <div class="login_logo_hr1"></div>
                </div>
                <div class="login_icoa clearfix">
                    <form id="login_chick" action="./login/login.php" method="post">
                        <input type="text" name="login_user"><span id="input_user"></span>
                        <input type="password" name="login_pow"><span id="input_pow"></span>
                        <button id="login_form">登录</button>
                    </form>
                </div>
                <div class="login_nei1 clearfix">
                    <span><a href="" style="color:#666">忘记密码?</a></span>
                </div>
                <br />
                <br />
                <br />
            </div>


            <!-- 账号注册 -->
            <div id="login_c" style="display:none">
                <div id="fan2" class="fan" onclick="fan_login()">返回</div>
                <div class="login_logo">
                </div>
                <div class="login_hr">
                    <div class="login_logo_hr1"></div>
                    <div class="login_logo_txt">注册成为本站会员</div>
                    <div class="login_logo_hr1"></div>
                </div>
                <div class="login_icoc clearfix">
                    <form id="reg_chick" action="./login/login.php"method="post">
                        账&nbsp;&nbsp;&nbsp;号:<input type="text" name="reg_user"><span id="reg_user">用于登录网站的账号</span><br />
                        昵&nbsp;&nbsp;&nbsp;称:<input type="text" name="reg_nickname"><span id="regnikenames">输入一个昵称</span><br />
                        密&nbsp;&nbsp;&nbsp;码:<input type="password" name="reg_pow1"><span id="reg_pow1">密码</span><br />
                        重复密码:<input type="password" name="reg_pow2"><span id="reg_pow2">确认密码</span><br />
                        <button id="reg_form">注册</button>
                    </form>
                </div>
                <div class="login_nei1 clearfix">
                    <span style="font-size:12px;margin-left:-80px">点击注册按钮即代表你同意<a href="">版权申明</a></span>
                </div>
                <br />
                <br />
                <br />
            </div>

        </div>
    </div>

    <script>
        // 登录框切换
        var login=document.getElementById("login");
        var login=document.getElementById("login");
        var login_a=document.getElementById("login_a");
        var login_b=document.getElementById("login_b");
        var login_c=document.getElementById("login_c");
        document.getElementById("xx").onclick=function(){
            login.style.display="none";
            fan_login()
        }
        document.getElementById("login_qq").onclick=function(){
            login.style.display="block";
        }
        document.getElementById("login_ji").onclick=function(){

            logins();
        }
        document.getElementById("reg_a").onclick=function(){

            login_a.style.display="none";
            login_b.style.display="none";
            login_c.style.display="block";
        }
        function logins(){
            login_a.style.display="none";
            login_b.style.display="block";
            login_c.style.display="none";
        }
        function fan_login(){
            login_a.style.display="block";
            login_b.style.display="none";
            login_c.style.display="none";
        }
        /*
            登录验证
         */
        var login_form=document.getElementById("login_form");
        var login_chick=document.getElementById("login_chick");
        var user=login_chick.children[0];
        var pow=login_chick.children[2];
        user.value="请输入账号";
        // pow.value="请输入密码";
        user.onfocus=function(){
            if(user.value=="请输入账号"){
                user.value="";
            }
        }
        user.onblur=function(){
            if(user.value==""){
                user.value="请输入账号";
                document.getElementById("input_user").innerHTML="";
            }else if(user.value=="请输入账号"){

            }else{
                document.getElementById("input_user").innerHTML="<img src='./images/ico_ckick.gif'>";
            }
        }
        pow.onblur=function(){
            if(pow.value==""){
                // document.getElementById("input_pow").innerHTML="请输入账号";
                document.getElementById("input_pow").innerHTML="";
            }else{

                document.getElementById("input_pow").innerHTML="<img src='./images/ico_ckick.gif'>";
            }
        }
        login_form.onclick=function(){
            if(!(user.value=="")&(!pow.value=="")){
                return true;
            }
            alert("请输入账号密码");
            return false;
        }

        // 注册验证
        var reg_chick=document.getElementById("reg_chick");
        var reg_user=reg_chick.getElementsByTagName("input")[0];
        var reg_nickname=reg_chick.getElementsByTagName("input")[1];
        var reg_pow1=reg_chick.getElementsByTagName("input")[2];
        var reg_pow2=reg_chick.getElementsByTagName("input")[3];
        var user_span=document.getElementById("reg_user");

        reg_user.value="请输入账号";
        reg_nickname.value="请输入昵称";
        // reg_pow1.value="请输入密码";
        // reg_pow2.value="再输入一次密码";
        reg_user.onfocus=function(){
            if(reg_user.value=="请输入账号"){
                reg_user.value="";
            }
        }
        reg_nickname.onfocus=function(){
            if(reg_nickname.value=="请输入昵称"){
                reg_nickname.value="";
            }
        }
        reg_user.onblur=function(){
            user_span.style.color="";

            if(reg_user.value=="请输入账号"){
                user_span.innerHTML="";

            }else{
                user_span.innerHTML="<img src='./images/ico_ckick.gif'>";
            }
            if(reg_user.value==""){
                reg_user.value="请输入账号";
                user_span.innerHTML="用于登录的账号";
            }else{
                // 检测数据库是否存在该账户
                var xhr=new XMLHttpRequest();
                var fd=reg_user.value;
                xhr.onreadystatechange=function(){
                    if(xhr.readyState == 4 && xhr.status == 200){
                        var txt=xhr.responseText;
                        if(txt=="1"){
                            user_span.innerHTML="该账户已存在!";
                            user_span.style.color="red";
                        }
                        if(txt=="2"){
                            user_span.innerHTML="账户可以使用!";
                            user_span.style.color="green";
                        }
                    }
                }
                xhr.open("get","./login/login.php?user="+encodeURIComponent(fd));
                // xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
                xhr.send(null);
            }
        }
        reg_nickname.onblur=function(){
            if(reg_nickname.value==""){
                reg_nickname.value="请输入昵称";
                document.getElementById("regnikenames").innerHTML="输入一个昵称";
            }else if(reg_nickname.value=="请输入昵称"){
                document.getElementById("regnikenames").innerHTML="";

            }else{
                document.getElementById("regnikenames").innerHTML="<img src='./images/ico_ckick.gif'>";
            }
        }


        reg_pow1.onblur=function(){
            if(reg_pow1.value==""){
                document.getElementById("reg_pow1").innerHTML="请输入密码";
            }
            else if(!(/^[A-Za-z0-9]{ 6,20 }$/).exec(reg_pow1.value)){
                document.getElementById("reg_pow1").innerHTML="请输入6-20位字符";
            }
            else{
                document.getElementById("reg_pow1").innerHTML="<img src='./images/ico_ckick.gif'>";
            }
        }
        reg_pow2.onblur=function(){
            if(reg_pow2.value==""){
                document.getElementById("reg_pow2").innerHTML="请输入密码";
            }else if(reg_pow2.value!==reg_pow1.value){
                document.getElementById("reg_pow2").innerHTML="输入的密码不一致";
            }else{
                document.getElementById("reg_pow2").innerHTML="<img src='./images/ico_ckick.gif'>";
            }
        }

        document.getElementById("reg_form").onclick=function(){
            if(reg_user.value==""||reg_nickname.value==""||reg_pow1.value==""||reg_pow2.value==""||reg_pow2.value!==reg_pow1.value){
                return false;
            }
            return true;
        }
    </script>
</footer>
<!--END 底部结束-->