<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
  <title>Tinko博客</title>
	<meta name="keywords" content="小丁博客，开发技术分享，不断积累，与大家共同进步！" />
	<meta name="description" content="小丁博客，开发技术分享，不断积累，与大家共同进步！" />
	<meta name="author" content="小丁" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable="no" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" th:href="@{/home/images/icon/favicon.ico}"/>
    <!--公共的css-->
    <!--<link rel="stylesheet" href="css/index.css" />-->
    <link rel="stylesheet" th:href="@{/home/css/my.css}">
    <link rel="stylesheet" th:href="@{/home/css/default.css}">
    <link rel="stylesheet" th:href="@{/home/css/public.css}">
    <link rel="stylesheet" th:href="@{/home/css/animation.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/home/css/skin_1.css}" title="qingxin"/>
    <link rel="stylesheet" type="text/css" th:href="@{/home/css/skin_2.css}" title="jianyue"/>
    <link rel="stylesheet" type="text/css" th:href="@{/home/css/skin_3.css}" title="qingshuang"/>
    <link rel="stylesheet" th:href="@{/home/css/font-icon.css}">
    <link rel="stylesheet" th:href="@{/home/css/face.css}">
    <script type="text/javascript" th:src="@{/home/js/jquery.2.1.4.min.js}"></script>

    <script type="text/javascript" th:src="@{/home/js/my.js}"></script>
    <script type="text/javascript" th:src="@{/home/js/superbg.min.js}"></script>
    <script type="text/javascript" th:src="@{/home/js/superbg-custom.js}"></script>
    <script type="text/javascript" th:src="@{/home/js/album.js}"></script>
    <script type="text/javascript" th:src="@{/home/js/tooltip.js}"></script>
    <script type="text/javascript" th:src="@{/home/js/face.js}"></script>
    <script type="text/javascript" th:src="@{/home/js/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/home/js/checkform.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/home/js/skin.js}"></script>
    <script type="text/javascript" th:src="@{/home/js/swiper.min.js}"></script>
    <link rel="stylesheet" th:href="@{/home/css/swiper.css}">

</head>
<body class="nobg" oncontextmenu="return false">
<!--导航开始-->
<div th:replace="home/fragments/header::header"></div>
<!--主题框架开始-->
<div class="container">
    <!--左侧开始-->
	<section>
         <article>
            <div class="about-content bg-color"> 
               <p><span style="font-size:16px;color:#E53333;font-family:'Microsoft YaHei';"><strong>本站内容仅供学习和参阅，不做任何商业用途。</strong></span></p>
               <p><br /></p>
               <p><strong><span style="font-size:16px;font-family:'Microsoft YaHei';">中文名</span></strong><span style="font-size:16px;font-family:'Microsoft YaHei';">：丁涛</span></p>
				<p><strong><span style="font-size:16px;font-family:'Microsoft YaHei';">英文名</span></strong><span style="font-size:16px;font-family:'Microsoft YaHei';">：Tinko</span></p>
               <p><br /></p>
               <p><strong><span style="font-size:16px;font-family:'Microsoft YaHei';">职业：</span></strong><span style="font-size:16px;font-family:'Microsoft YaHei';">Java开发工程师</span></p>
               <p><br /></p>
               <p><span style="line-height:21px;font-size:16px;font-family:'Microsoft YaHei';"><strong>后台开发</strong></span><span style="font-size:16px;line-height:21px;font-family:'Microsoft YaHei';">：</span><span style="line-height:21px;"><span style="font-size:16px;font-family:'Microsoft YaHei';">熟练使用掌握Java编程语言，掌握JSP、Servlet等J2EE标准，对Mybatis、Hibernate、Spring、SpringMVC、Struts、Spring-Data-Jpa、SpringBoot等框架有实际项目应用经验</span></span></p>
               <p><br /></p>
               <p><strong><span style="font-size:16px;line-height:21px;font-family:'Microsoft YaHei';">服务器</span><span style="font-size:16px;font-family:'Microsoft YaHei';">：</span></strong><span style="font-size:16px;font-family:'Microsoft YaHei';"><span style="line-height:21px;font-size:16px;font-family:'Microsoft YaHei';">熟练使用Tomcat、JBoss、Linux等服务器</span></span></p>
               <p><br /></p>
				<p><strong><span style="font-size:16px;line-height:21px;font-family:'Microsoft YaHei';">数据库</span><span style="font-size:16px;font-family:'Microsoft YaHei';">：</span></strong><span style="font-size:16px;font-family:'Microsoft YaHei';"><span style="line-height:21px;font-size:16px;font-family:'Microsoft YaHei';">熟练使用Mysql、Oracle、Redis及数据库优化等</span></span></p>
				<p><br /></p>
				<p><strong><span style="font-size:16px;line-height:21px;font-family:'Microsoft YaHei';">前端</span><span style="font-size:16px;font-family:'Microsoft YaHei';">：</span></strong><span style="font-size:16px;font-family:'Microsoft YaHei';"><span style="line-height:21px;font-size:16px;font-family:'Microsoft YaHei';">熟练前后端分离开发，熟悉常用的JQuery、VUE等</span></span></p>
				<p><br /></p>
				<p><strong><span style="font-size:16px;line-height:21px;font-family:'Microsoft YaHei';">其它</span><span style="font-size:16px;font-family:'Microsoft YaHei';">：</span></strong><span style="font-size:16px;font-family:'Microsoft YaHei';"><span style="line-height:21px;font-size:16px;font-family:'Microsoft YaHei';">熟练使用Elasticsearch搜索引擎和Nginx和常用的Linux命令，熟练使用相关的项目管理工具，如Maven、git、svn</span></span></p>
				<p><br /></p>
               <p><span style="font-size:14px;"><strong><span style="font-size:16px;font-family:'Microsoft YaHei';">个人简介：</span></strong><span style="font-size:16px;"></span></span><span style="font-size:14px;"><strong><span style="font-size:16px;font-family:'Microsoft YaHei';"></span></strong><span style="color:#64451D;font-family:'Microsoft YaHei';font-size:16px;"><span style="color:#333333;font-family:'Microsoft YaHei';line-height:24px;font-size:16px;">代码洁癖	  业务能力强	代码思路结构清晰	理解沟通能力强</span></span></span></p>
                <p><br /></p>
               <p><span style="font-size:14px;"><strong><span style="font-size:16px;font-family:'Microsoft YaHei';">网站简介：</span></strong><span style="font-size:16px;"></span></span><span style="font-size:14px;"><strong><span style="font-size:16px;font-family:'Microsoft YaHei';"></span></strong><span style="color:#64451D;font-family:'Microsoft YaHei';font-size:16px;"><span style="color:#333333;font-family:'Microsoft YaHei';line-height:24px;font-size:16px;">本站是由Bootstrap和Layui设计的前后端页面，SpringBoot+MyBatis框架设计，融入多项开发前沿技术，移动端自适应、美观、大方、支持换肤的个人博客。后期会融入更多的功能和技术。</span></span></span></p><br />
               <p><span style="font-size:14px;"><strong><span style="font-size:16px;font-family:'Microsoft YaHei';">联系站长：</span></strong><span style="font-size:16px;"></span></span><span style="font-size:14px;"><strong><span style="font-size:16px;font-family:'Microsoft YaHei';"></span></strong><span style="color:#64451D;font-family:'Microsoft YaHei';font-size:16px;"><span style="color:#333333;font-family:'Microsoft YaHei';line-height:24px;font-size:16px;">tinko912@163.com</span></span></span></p>

               <p><br /></p>
               <p><span style="font-size:14px;"></span></p> 
            </div>
         </article>
    </section>
    <!--左侧结束-->

    <script type="text/javascript" src="js/common.js"></script>
    <!--右侧开始-->
    <div th:replace="home/fragments/aside::aside"></div>
    <!--/右侧-->
</div>
<!--Header-->
<div th:replace="home/fragments/footer::footer"></div>
<!--END 底部结束-->
</body>
</html>

