<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Tinko博客</title>
    <meta name="keywords"
          content="小陈博客，小陈，cywblog，个人博客，chenyanwu，陈彦吾，博客，个人博客模板，php源码下载，个人网站，模板分享，博客程序，网站模板，php个人博客，seo个人博客"/>
    <meta name="description" content="小陈个人博客是一个基于thinkPHP框架开发的php个人网站，博客涵盖PHP技术，前端，数据库，SEO优化，专注于PHP技术开发，PHP源码作品。"/>
    <meta name="author" content="小陈"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable="no"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" th:href="@{/home/images/icon/favicon.ico}"/>
    <!--公共的css-->
    <!--<link rel="stylesheet" href="css/index.css" />-->
    <link rel="stylesheet" th:href="@{/home/css/my.css}">
    <link rel="stylesheet" th:href="@{/home/css/default.css}">
    <link rel="stylesheet" th:href="@{/home/css/public.css}">
    <link rel="stylesheet" th:href="@{/home/css/animation.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/home/css/skin_1.css}" title="qingxin"/>
    <link rel="stylesheet" type="text/css" th:href="@{/home/css/skin_2.css}" title="jianyue"/>
    <link rel="stylesheet" type="text/css" th:href="@{/home/css/skin_3.css}" title="qingshuang"/>
    <link rel="stylesheet" th:href="@{/home/css/font-icon.css}">
    <link rel="stylesheet" th:href="@{/home/css/face.css}">
    <script type="text/javascript" th:src="@{/home/js/jquery.2.1.4.min.js}"></script>


    <script type="text/javascript" th:src="@{/home/js/my.js}"></script>
    <script type="text/javascript" th:src="@{/home/js/superbg.min.js}"></script>
    <script type="text/javascript" th:src="@{/home/js/superbg-custom.js}"></script>
    <script type="text/javascript" th:src="@{/home/js/album.js}"></script>
    <script type="text/javascript" th:src="@{/home/js/tooltip.js}"></script>
    <script type="text/javascript" th:src="@{/home/js/face.js}"></script>
    <script type="text/javascript" th:src="@{/home/js/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/home/js/checkform.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/home/js/skin.js}"></script>
    <script type="text/javascript" th:src="@{/home/js/swiper.min.js}"></script>
    <link rel="stylesheet" th:href="@{/home/css/swiper.css}">

    <!--代码高亮插件-->
    <script type="text/javascript"
            src="http://chenyanwu.cc/APP/Public/ueditor1_4_3/third-party/SyntaxHighlighter/shCore.js"></script>
    <link rel="stylesheet" type="text/css"
          href="http://chenyanwu.cc/APP/Public/ueditor1_4_3/third-party/SyntaxHighlighter/shCoreDefault.css">
    <script>SyntaxHighlighter.all();</script>

    <link rel="stylesheet" type="text/css" href="css/ui-dialog.css"/>
    <script type="text/javascript" charset="utf-8" src="js/dialog-plus-min.js"></script>
    <script src="js/common.js" type="text/javascript"></script>

    <link href="css/blueimp-gallery.min.css" rel="stylesheet" type="text/css"/>
    <script src="js/jquery.blueimp-gallery.min.js" type="text/javascript"></script>
    <style>
        .article-body table td {
            border: solid 1px #cccccc;
        }

        .article-body table {
            border-collapse: collapse
        }
    </style>
</head>
<body class="nobg" oncontextmenu="return false">
<div th:replace="home/fragments/header::header"></div>

<!--主题框架开始-->
<div class="container">
    <!--左侧开始-->
    <section>
        <article>
            <h3 class="arc-title index-title" th:text="${article.title}"></h3>
            <div class="post-line bg-color">
                <ul>
                    <li><a title="小陈 发表于 2017-11-18 19:09:51"><i class="fa fa-calendar"></i>
                        <time th:text="${commons.fmtdate(article.created, 'yyyy-MM-dd')}" title="创建于" datetime="2018-07-07T15:40:56+08:00"></time>
                    </a></li>
                    <li><a href="javascript:;" title="本文作者：小陈"><i class="fa fa-user-o"></i>小陈</a></li>
                    <li><a href="#pingluns" title="转到评论"><i class="fa fa-commenting-o"></i><em id="comment" th:text="${article.commentsNum}">评论</em></a></li>
                    <li><a title="浏览数"><i class="fa fa-eye"></i>(<em id="view" th:text="${article.hits}"></em>)</a></li>
                </ul>
                <!--                 <script type="text/javascript">ajaxComment("#comment","",149); ajaxView("#view","",149);</script> -->
            </div>

            <div class="article-content bg-color" id="arc-tj">

                <!--文章正文-->
                <div class="article-body img_loading lightBoxGallery">
                    <th:block th:utext="${commons.article(article.content)}"></th:block>
                    <br/>本文为原创链接,转载请注明出处！</p>
                </div>
                <!--END 文章正文-->
                <!--分享-->
                <div class="article-fx" id="pingluns">

                    <link rel="stylesheet" type="text/css" href="css/ui-dialog.css"/>
                    <script type="text/javascript" charset="utf-8" src="js/dialog-plus-min.js"></script>
                    <a id="myFavorite" class="sucai-fx"><i class="fa fa-star-o"></i>收藏本文</a>
                    <a class="fx-btn sucai-fx" href="javascript:;" title=""><i class="fa fa-share-square-o"></i>分享本文</a>
                    <div class="bd-fx arc-bdfx">
                        <i class="el-remove fx-close"></i>
                        <ul class="bdsharebuttonbox">
                            <li><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></li>
                            <li><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a></li>
                            <li><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a></li>
                            <li><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a></li>
                        </ul>
                    </div>
                </div>
                <!--END 分享-->
                <hr>
            </div>
        </article>
        <!--上一篇，下一篇-->
        <div class="shangyip bg-color">
            <span><i class="fa fa-arrow-up"></i>上一篇：<a href="/Home/Cont/xiang/c_id/1.html">想自学编程，入门先学什么程序好？</a></span>
            <span><i class="fa fa-arrow-down"></i>下一篇：<a href="/Home/Cont/xiang/c_id/3.html">分享整理的免费API接口</a></span>
        </div>

        <h4 class="index-title"> <i class="fa fa-comments fa-lg"></i> 暂无评论
        </h4>
        <div class="comment-area">
            <ul>
            </ul>
        </div>
        <!--评论表单-->
        <h3 class="form-btn blue-text"><a href="javascript:;" title=""><i class="fa fa-pencil-square-o fa-lg"></i>我要留言 / 展开表单</a></h3>
        <div id="Coon" class="form-zd form-in">
            <!--表单开始-->
            <form action="../Post/Shuo.asp" id="comment-form" method="post">
                <ul class="hdmenu">
                    <li><i class="fa fa-ban"></i> 审核未开启</li>
                    <li><input name="jizhu" type="checkbox" value="1" checked="" class="comment-fuxuna"> 记住信息</li>
                    <li><input name="huifu" type="checkbox" value="1" checked="" class="comment-fuxuna"> 邮件回复</li>
                </ul>
                <!----昵称------->
                <div class="input-prepend">
                    <i class="fa fa-user-circle"></i>
                    <input name="u_name" type="text" id="u_name" value="代号706" size="16" placeholder="您的称呼（必须）">
                    <input name="post_id" type="hidden" id="post_id" value="71">
                </div>
                <!------邮箱----->
                <div class="input-prepend">
                    <i class="fa fa-envelope"></i>
                    <input name="u_mail" type="text" id="prependedInput" value="" size="16" placeholder="您的邮箱（选填）">
                </div>
                <!----网址------->
                <div class="input-prepend">
                    <i class="fa fa-globe"></i>
                    <input name="u_url" type="text" id="prependedInput" size="16" value="" placeholder="您的网站（选填）">
                </div>
                <!--表情按钮-->
                <div class="face-box">
                    <div id="face-btn"><a href="javascript:void(0);"><img th:src="@{/home/images/icon/0.gif}" width="25"></a></div>
                    <textarea name="u_content" id="txaArticle" placeholder="说点什么吧..."></textarea>
                    <!--表情--------->
                    <div class="face-main" id="face-area" style="display:none;">
                        <ul class="face-tab clearfix">
                            <li><a href="javascript:void(0);" class="selected-a">默认</a></li>
                            <li><a href="javascript:void(0);">阿狸</a></li>
                            <li><a href="javascript:void(0);">贴吧表情</a></li>
                            <!--<li><a href="javascript:void(0);">暴走漫画</a></li>-->
                        </ul>
                        <ul class="face-ul clearfix face_selected"></ul>
                        <ul class="face-ul clearfix" style="display:none;"></ul>
                        <ul class="face-ul clearfix" style="display:none;"></ul>
                        <ul class="face-ul clearfix" style="display:none;"></ul>
                        <a href="javascript:void(0);" class="face-close"><i class="el-remove"></i></a>
                    </div>
                </div>
                <!--验证码-->
                <div class="input-prepend yzm">
                    <i class="fa fa-code"></i>
                    <input name="txt_check" type="text" id="prependedInput" size="16" placeholder="验证码">
                    <span>
					<img src="/kaptcha/image" title="点击刷新验证码?" onclick="this.src='/kaptcha/image?t='+(new Date().getTime());">
				</span>
                </div>
                <!--提交表单--------->
                <div class="feed-sub"><input type="submit" class="btn btn-inverse" value="提交留言" onclick="return checkform()">  </div>
            </form>
            <!--表单结束-->
        </div>
        <!--用户评论-->
    </section>
    <!--左侧结束-->
    <!--左侧结束-->

    <script type="text/javascript" th:src="@{/home/js/comment.js}"></script>
    <div th:replace="home/fragments/aside::aside"></div>
</div>
<!---底部开始-->
<footer>

    <!--底部导航-->
    <div class="foot-nav">
        <div class="copy-right"><span>CopyRight © 2015-2017 小陈博客     Design by http://05mi.cn</span></div>
        <div class="bottom-nav">
			<span>
                <a href="https://tongji.baidu.com/web/welcome/ico?s=e0dafd10f8cd921df1724ef0cae09a59" target="_blank">百度统计</a>
                <a href="http://www.miitbeian.gov.cn/"> 浙ICP备16039435号</a>
            </span>
        </div>
    </div>
    <div id="toTop">Back to Top</div>

    <script type="text/javascript">
        window.onload = function () {
            $(".img_loading").removeClass("img_loading");
            $(".silde-title").show();

            $(".comment_txt").each(function () {
                $(this).html($(this).html().replace(/\[Q([0-9]*)\]/g, "<img src='{$smarty.const.HOME_IMG}face/mr/$1.gif'>"));
                $(this).html($(this).html().replace(/\[yc_([0-9]*)\]/g, "<img src='{$smarty.const.HOME_IMG}face/yc/$1.gif'>"));
                $(this).html($(this).html().replace(/\[ali_([0-9]*)\]/g, "<img src='{$smarty.const.HOME_IMG}face/ali/$1.gif'>"));
            })
        }
        $(function () {
            var swiper = new Swiper('.swiper-container', {
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                pagination: '.swiper-pagination',
                paginationType: 'fraction',
                centeredSlides: true,
                autoplay: 5500, //自动播放时间
                autoHeight: true //自动高度
            });
            //瀑布流
            $('.su').jaliswall({item: '.su-li'});
        });
        ajaxEash(".icon-speech", "", 0);
        ajaxEash(".icon-eye", "", 1);
    </script>


    <div class="select-skin">
        <div class="skin-btn">
            <a href="javascript:void(0);" class="skin-btn-open">换<br>肤</a>
        </div>

        <div class="skin-content">
            <h1>选择风格<span class="skin-close">关闭</span></h1>
            <div class="skin-content-list">
                <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('qingxin'); return false;" class="btn1">清新</a>
                </div>
                <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('jianyue'); return false;" class="btn2">简约</a>
                </div>
                <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('qingshuang'); return false;"
                                          class="btn3">清爽</a></div>
            </div>
        </div>
    </div>

    <!-- 第三方登录 -->
    <div class="login" id="login" style="display:none">
        <div id="login_main">
            <div id="xx" class="xx"><i class="fa fa-times"></i></div>
            <div id="login_a">
                <div class="login_logo">
                </div>
                <div class="login_hr">
                    <div class="login_logo_hr1"></div>
                    <div class="login_logo_txt">使用第三方账号登录</div>
                    <div class="login_logo_hr1"></div>
                </div>
                <div class="login_ico" style="clear:both">
                    <a href="/Home/User/qq">
                        <div class="login_ico1"></div>
                    </a>
                    <a href="">
                        <div class="login_ico2"></div>
                    </a>
                    <a href="">
                        <div class="login_ico3"></div>
                    </a>
                </div>
                <div class="login_nei">
                    <a id="login_ji" href="javascript:;">手机号/站内账号登录</a>
                </div>
                <div class="login_nei1">
                    <span>还没有账号?</span><a id="reg_a" href="javascript:;">注册新账号</a>
                </div>

                <br/>
                <br/>
                <br/>
            </div>

            <!-- 站内账号登录 -->
            <div id="login_b" style="display:none">
                <div id="fan1" class="fan" onclick="fan_login()">返回</div>
                <div class="login_logo">
                </div>
                <div class="login_hr">
                    <div class="login_logo_hr1"></div>
                    <div class="login_logo_txt">使用站内账号登录</div>
                    <div class="login_logo_hr1"></div>
                </div>
                <div class="login_icoa clearfix">
                    <form id="login_chick" action="./login/login.php" method="post">
                        <input type="text" name="login_user"><span id="input_user"></span>
                        <input type="password" name="login_pow"><span id="input_pow"></span>
                        <button id="login_form">登录</button>
                    </form>
                </div>
                <div class="login_nei1 clearfix">
                    <span><a href="" style="color:#666">忘记密码?</a></span>
                </div>
                <br/>
                <br/>
                <br/>
            </div>


            <!-- 账号注册 -->
            <div id="login_c" style="display:none">
                <div id="fan2" class="fan" onclick="fan_login()">返回</div>
                <div class="login_logo">
                </div>
                <div class="login_hr">
                    <div class="login_logo_hr1"></div>
                    <div class="login_logo_txt">注册成为本站会员</div>
                    <div class="login_logo_hr1"></div>
                </div>
                <div class="login_icoc clearfix">
                    <form id="reg_chick" action="./login/login.php" method="post">
                        账&nbsp;&nbsp;&nbsp;号:<input type="text" name="reg_user"><span
                            id="reg_user">用于登录网站的账号</span><br/>
                        昵&nbsp;&nbsp;&nbsp;称:<input type="text" name="reg_nickname"><span
                            id="regnikenames">输入一个昵称</span><br/>
                        密&nbsp;&nbsp;&nbsp;码:<input type="password" name="reg_pow1"><span id="reg_pow1">密码</span><br/>
                        重复密码:<input type="password" name="reg_pow2"><span id="reg_pow2">确认密码</span><br/>
                        <button id="reg_form">注册</button>
                    </form>
                </div>
                <div class="login_nei1 clearfix">
                    <span style="font-size:12px;margin-left:-80px">点击注册按钮即代表你同意<a href="">版权申明</a></span>
                </div>
                <br/>
                <br/>
                <br/>
            </div>

        </div>
    </div>
    <script>
        // 登录框切换
        var login = document.getElementById("login");
        var login = document.getElementById("login");
        var login_a = document.getElementById("login_a");
        var login_b = document.getElementById("login_b");
        var login_c = document.getElementById("login_c");
        document.getElementById("xx").onclick = function () {
            login.style.display = "none";
            fan_login()
        }
        document.getElementById("login_qq").onclick = function () {
            login.style.display = "block";
        }
        document.getElementById("login_ji").onclick = function () {

            logins();
        }
        document.getElementById("reg_a").onclick = function () {

            login_a.style.display = "none";
            login_b.style.display = "none";
            login_c.style.display = "block";
        }

        function logins() {
            login_a.style.display = "none";
            login_b.style.display = "block";
            login_c.style.display = "none";
        }

        function fan_login() {
            login_a.style.display = "block";
            login_b.style.display = "none";
            login_c.style.display = "none";
        }


        /*
            登录验证
         */
        var login_form = document.getElementById("login_form");
        var login_chick = document.getElementById("login_chick");
        var user = login_chick.children[0];
        var pow = login_chick.children[2];
        user.value = "请输入账号";
        // pow.value="请输入密码";

        user.onfocus = function () {
            if (user.value == "请输入账号") {
                user.value = "";
            }
        }
        user.onblur = function () {
            if (user.value == "") {
                user.value = "请输入账号";
                document.getElementById("input_user").innerHTML = "";
            } else if (user.value == "请输入账号") {

            } else {
                document.getElementById("input_user").innerHTML = "<img src='./images/ico_ckick.gif'>";
            }
        }
        pow.onblur = function () {
            if (pow.value == "") {
                // document.getElementById("input_pow").innerHTML="请输入账号";
                document.getElementById("input_pow").innerHTML = "";
            } else {

                document.getElementById("input_pow").innerHTML = "<img src='./images/ico_ckick.gif'>";
            }
        }
        login_form.onclick = function () {
            if (!(user.value == "") & (!pow.value == "")) {
                return true;
            }
            alert("请输入账号密码");
            return false;
        }


        // 注册验证
        var reg_chick = document.getElementById("reg_chick");
        var reg_user = reg_chick.getElementsByTagName("input")[0];
        var reg_nickname = reg_chick.getElementsByTagName("input")[1];
        var reg_pow1 = reg_chick.getElementsByTagName("input")[2];
        var reg_pow2 = reg_chick.getElementsByTagName("input")[3];
        var user_span = document.getElementById("reg_user");

        reg_user.value = "请输入账号";
        reg_nickname.value = "请输入昵称";
        // reg_pow1.value="请输入密码";
        // reg_pow2.value="再输入一次密码";
        reg_user.onfocus = function () {
            if (reg_user.value == "请输入账号") {
                reg_user.value = "";
            }
        }
        reg_nickname.onfocus = function () {
            if (reg_nickname.value == "请输入昵称") {
                reg_nickname.value = "";
            }
        }
        reg_user.onblur = function () {
            user_span.style.color = "";

            if (reg_user.value == "请输入账号") {
                user_span.innerHTML = "";

            } else {
                user_span.innerHTML = "<img src='./images/ico_ckick.gif'>";
            }
            if (reg_user.value == "") {
                reg_user.value = "请输入账号";
                user_span.innerHTML = "用于登录的账号";
            } else {
                // 检测数据库是否存在该账户
                var xhr = new XMLHttpRequest();
                var fd = reg_user.value;
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var txt = xhr.responseText;
                        if (txt == "1") {
                            user_span.innerHTML = "该账户已存在!";
                            user_span.style.color = "red";
                        }
                        if (txt == "2") {
                            user_span.innerHTML = "账户可以使用!";
                            user_span.style.color = "green";
                        }
                    }
                }
                xhr.open("get", "./login/login.php?user=" + encodeURIComponent(fd));
                // xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
                xhr.send(null);
            }
        }
        reg_nickname.onblur = function () {
            if (reg_nickname.value == "") {
                reg_nickname.value = "请输入昵称";
                document.getElementById("regnikenames").innerHTML = "输入一个昵称";
            } else if (reg_nickname.value == "请输入昵称") {
                document.getElementById("regnikenames").innerHTML = "";

            } else {
                document.getElementById("regnikenames").innerHTML = "<img src='./images/ico_ckick.gif'>";
            }
        }


        reg_pow1.onblur = function () {
            if (reg_pow1.value == "") {
                document.getElementById("reg_pow1").innerHTML = "请输入密码";
            }
            else if (!(/^[A-Za-z0-9]{ 6,20 }$/).exec(reg_pow1.value)) {
                document.getElementById("reg_pow1").innerHTML = "请输入6-20位字符";
            }
            else {
                document.getElementById("reg_pow1").innerHTML = "<img src='./images/ico_ckick.gif'>";
            }
        }
        reg_pow2.onblur = function () {
            if (reg_pow2.value == "") {
                document.getElementById("reg_pow2").innerHTML = "请输入密码";
            } else if (reg_pow2.value !== reg_pow1.value) {
                document.getElementById("reg_pow2").innerHTML = "输入的密码不一致";
            } else {
                document.getElementById("reg_pow2").innerHTML = "<img src='./images/ico_ckick.gif'>";
            }
        }


        document.getElementById("reg_form").onclick = function () {
            if (reg_user.value == "" || reg_nickname.value == "" || reg_pow1.value == "" || reg_pow2.value == "" || reg_pow2.value !== reg_pow1.value) {
                return false;
            }
            return true;
        }
    </script>
</footer>
<!--END 底部结束-->

<style type="text/css">
    .syntaxhighlighter .code {
        overflow-x: scroll !important;
        /*background: red  !important;*/

    }

    .syntaxhighlighter, table {
        padding: 10px 20px 10px 2px !important;
        overflow-x: auto !important;
        margin-bottom: 30px !important;
    }

    .syntaxhighlighter tr td div {
        /*white-space:keep-all !important;*/
        /*white-space:nowrap !important;*/
    }

    .article-body {
        overflow-x: auto !important;
    }
</style>

</body>
</html>

