<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
  <title>小陈博客-素材</title>
        <meta name="keywords" content="小陈博客，小陈，cywblog，个人博客，chenyanwu，陈彦吾，博客，个人博客模板，php源码下载，个人网站，模板分享，博客程序，网站模板，php个人博客，seo个人博客" />
    <meta name="description" content="小陈个人博客是一个基于thinkPHP框架开发的php个人网站，博客涵盖PHP技术，前端，数据库，SEO优化，专注于PHP技术开发，PHP源码作品。" />
    <meta name="author" content="小陈" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable="no" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="http://chenyanwu.cc/favicon.ico" />
    <!--公共的css-->
    <!--<link rel="stylesheet" href="css/index.css" />-->
    <link rel="stylesheet" href="css/my.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" type="text/css" href="css/skin_1.css"title="qingxin" />
    <link rel="stylesheet" type="text/css" href="css/skin_2.css"title="jianyue" />
    <link rel="stylesheet" type="text/css" href="css/skin_3.css"title="qingshuang" />
    <link rel="stylesheet" href="css/font-icon.css">
    <link rel="stylesheet" href="css/face.css">
    <script type="text/javascript" src="js/jquery.2.1.4.min.js"></script>
    <script>
        $("html").append("<div class='jiazai'><img src='images/loading.gif'><span>正在加载中请等待...</span></div>")
    </script>
    <script>
    	window._bd_share_config = {
    		common : {
    			bdText : '一个超多分享资源的个人博客！',	
    			bdDesc : '一个超多分享资源的个人博客！',	
    			bdUrl : 'http://05mi.cn', 	
    			bdPic : '自定义分享图片'
    		},
    		share : [{
    			"bdSize" : 16
    		}],
    	}
    	with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
    </script>
    
    <script type="text/javascript" src="js/my.js"></script>
    <script type="text/javascript" src="js/superbg.min.js"></script>
    <script type="text/javascript" src="js/superbg-custom.js"></script>
    <script type="text/javascript" src="js/album.js"></script>
    <script type="text/javascript" src="js/tooltip.js"></script>
    <script type="text/javascript" src="js/face.js"></script>
    <script type="text/javascript" src="js/layer/layer.js" ></script>
    <script type="text/javascript" src="js/checkform.js" charset="utf-8"></script>
    <script type="text/javascript"  src="js/skin.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <link rel="stylesheet" href="css/swiper.css">
  
  
  
  
  
  
  
  
  
  
  <!-- 站长统计 -->
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?e0dafd10f8cd921df1724ef0cae09a59";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
      <!-- 站长统计 --> 
</head>
<body class="nobg" oncontextmenu="return false">
<!--导航开始-->
    <header class="myheader">
            <div class="top">
		<!--头像左边部分-->
		<div class="top-left">
		  <div class="logo"><a href="http://05mi.cn"><img style=" margin-top:16px;" src="images/top_logo.png"></a></div>
				<!--滚动消息-->
			<div class="web-xiaoxi">
				<i class="el-speaker fa fa-volume-up"></i>
				<ul class="mulitline">
					<li>做了一些小调整，使之看起来更像博客。</li>
					<li>本站内容仅供学习和参阅，不做任何商业用途。</li>
					<li>内容如有侵犯，请立即联系管理员删除</li>
				</ul>
			</div>
				<!--END 消息 -->
			<!--手机菜单按钮-->
			
			<div class="mobile-nav"><i class="fa fa-navicon el-lines"></i><i class="fa fa-times el-remove"></i></div>
		</div>
	    <!--电脑导航开始-->
		<nav class="mynav">
			<ul class="mob-ulnav">
                <li id="nav_1">
                    <a href="/index.php/Home/Index/index.html" title="首页">首页</a>
                </li>
				<li id="nav_2">
					<a href="/index.php/Home/Index/guanyu.html" title="关于">关于</a>
				</li>
                
                 <li id="nav_3">
                     <a href="/index.php/Home/Index/shuoshuo.html" title="每天的牢骚">说说</a>
                 </li>
                 
                    <li id="nav_4" class="drop">
                        <a href="javascript:;" title="分类">分类<i class="fa fa-chevron-down el-chevron-down"></i></a>
                            <div class="drop-nav orange-text ">
                            <ul id="nav00">
                                
                            </ul>
                        </div>
                    </li>
                
                <li id="nav_5">
					<a href="/index.php/Home/Index/link.html" title="链接">链接</a>
				</li>
                <li id="nav_6">
                    <a href="/index.php/Home/Index/sucai.html" title="我的素材">素材</a>
                </li>
				<li id="nav_7">
					<a href="/index.php/Home/Index/liuyan.html" title="在这里写下你想说的话">留言</a>
				</li>
			        <li >
			            
			        </li>
			        
			</ul>
			
			
			
               
            
			
			
			
			
			
			
		<!--移动的滑动-->
        <div class="move-bg"></div>
        <!--移动的滑动 end-->
		</nav>
		<!--这里是手机导航-->
		<div class="mob-menu">
		<!--手机顶部搜索-->
			<div class="search ">
				<form>
					<div class="search-index">
						
						<input name="keywords" type="text"  placeholder="请输入关键字" id="keywords" onfocus="this.placeholder=''" onkeydown="if(event.keyCode==13){ SiteSearch('search.html', '#keywords');return false };"  onblur="this.placeholder='请输入关键字'">
						<i class="el-search icon-magnifier" onclick="SiteSearch('search.html', '#keywords');"><input value=" "type="submit"></i>
						
					</div>
				</form>
			</div>
			<!--手机下拉菜单-->
			<ul class="mob-ulnav">
                <li id="nav_1">
                    <a href="/index.php/Home/Index/index.html" title="">首页</a>
                </li>
				<li id="nav_2">
					<a href="/index.php/Home/Index/guanyu.html" >关于</a>
				</li>
                <li id="nav_3">
                    <a href="/index.php/Home/Index/shuoshuo.html" >说说</a>
                </li>
                
                    <li id="nav_4" class="mob-drop">
                        <a href="javascrip:;" title="分类">分类<i></i></a>
                            <ul  id="nav11" class="mob-dropmenu">

                            </ul>
                    </li>
                
                <li id="nav_5">
					<a href="/index.php/Home/Index/link.html" title="链接">链接</a>
				</li>
                <li id="nav_6">
                    <a href="/index.php/Home/Index/sucai.html" >素材</a>
                </li>
				<li id="nav_7">
					<a href="/index.php/Home/Index/liuyan.html" title="">留言</a>
				</li>
			</ul>
		</div>
		
		<!--登录框-->
			        <div class="login_A" style="height: 100%;width: 60px;position: absolute;right:40px;text-align: right;">
        			                                <a id="login_qq"  href="javascript:;" onclick="comment(this)" title="用户登录"><img class="img-circle" src="images/default_head_img.gif" alt="小陈博客" title="小陈博客"  style="margin-top: 14px;"></a>
                        		    	    </div>
	</div>
    </header>
<!--导航结束-->

<!--/Header-->
<!--主题框架开始-->
<div class="container">
     <!--左侧开始-->
	<section>
        <div class="sucailist">
            <h4 class="index-title mclassify">
				<!-- <a href="javascript::void(0);" class="all"><i class="el-camera"></i>查看所有素材> ></a> -->
				<ul class="cmenu" id="cmenu">
					<li class="classify-active"><a id="0" onclick="getmaterial(this)" href="javascript:;">全部</a></li>
					<li><a id="1" onclick="getmaterial(this)" href="javascript:;">模板</a></li>
					<li><a id="2" onclick="getmaterial(this)" href="javascript:;">源码</a></li>
					<li><a id="3" onclick="getmaterial(this)" href="javascript:;">插件</a></li>
					<li><a id="4" onclick="getmaterial(this)" href="javascript:;">功能</a></li>
					<li><a id="5" onclick="getmaterial(this)" href="javascript:;">工具</a></li>				
				</ul>
			</h4>
			
			<style>
			    .orange-text{ color:#ff6700; }
/*.blue-text{ color:#0181da; }*/
/*.bg-color{ background:rgba(255,255,255,0.5); }*/
/*.index-title{ font-size:14px;color:#0181da;font-weight:normal; }*/
/*.index-title small{ color:#bcbcbc;margin-left:5px;font-size:12px; }*/
/*.lable{ display:inline-block;background:#ff4200;padding:0px 5px;color:#fff;border-radius:5px;-webkit-border-radius:5px;font-weight:normal;margin-left:5px; }*/
/*.img-circle{ border-radius:100px;-webkit-border-radius:100px;-moz-border-radius:100px; }*/
.index-title ul li {
    width: auto;
    line-height: 20px;
    float: left;
    font-size: 14px;
    color: #9c918a;
    height: 20px;
    margin-top: 3px;
    border-right: 1px solid #eee;
    padding: 0px 10px;
}
.cmenu {
    height: 26px;
    line-height: 26px;
}
.classify-active a {
    color: white;
    background: deepskyblue;
    padding: 5px;
}

			</style>
            <!--列表开始-->
			<ul class="su">

                
				                 <li id="tuijian" class="su-li">
                    <a href="/index.php/Home/Index/sucaiList.html?sid=5" title="PhotoShop CS6 简体中文【免安装 绿色版】">
					<div class="sucaiimg img_loading">
					    <img src="images/cont_img/1510288078858495.png" alt="PhotoShop CS6 简体中文【免安装 绿色版】">
					</div>
				  </a>
					<div class="sucai-right">
						<h4 class="blue-text">PhotoShop CS6 简体中文【免安装 绿色版】</h4>
						<ul>
							<li><a title=" 2017-11-10 发表 "><i class="fa fa-clock-o fa-lg"></i> 2017-11-10</a></li>
							<li class="mob-hidden">
							    <i class="fa fa-download fa-lg"></i>0
							</li>
						</ul>
					</div>
				</li>
				                 <li id="tuijian" class="su-li">
                    <a href="/index.php/Home/Index/sucaiList.html?sid=4" title="HTML5水果忍者游戏源码">
					<div class="sucaiimg img_loading">
					    <img src="images/cont_img/1510213834898450.png" alt="HTML5水果忍者游戏源码">
					</div>
				  </a>
					<div class="sucai-right">
						<h4 class="blue-text">HTML5水果忍者游戏源码</h4>
						<ul>
							<li><a title=" 2017-11-09 发表 "><i class="fa fa-clock-o fa-lg"></i> 2017-11-09</a></li>
							<li class="mob-hidden">
							    <i class="fa fa-download fa-lg"></i>0
							</li>
						</ul>
					</div>
				</li>
				               
                
			</ul>
			<!--列表结束-->
			<div id="pagerArea" unselectable="on" onselectstart="return false;" style="-moz-user-select:none;"><ul class="pager" id="cy_pager"><li class="pg-prev pg-dislabel" id="prev">PREV</li><li page="1" class="pg-showpage pg-selected">1</li><li page="2" class="pg-showpage">2</li><li class="pg-next" id="next">NEXT</li></ul></div>
        </div>
        <!--分页-->
    </section>
    <!--左侧结束-->
    <!--左侧结束-->
    
    <script type="text/javascript" src="js/common.js"></script>
    <!--右侧开始-->
        <!--右侧开始-->
<aside class="myaside">
    <!--关注我-->
    <div class="focus-me bg-color animation-div">
            <h4 class="index-title"><i class="el-heart fa fa-heart"></i>关注我<small>Focus Me</small></h4>
		    <div class="xiangguan">
				    <div><a class="mail-btn" href="http://rj.05mi.cn" target="_blank"><i class="fa fa-code"></i></a><span>软件下载</span></div>
				    <div><a class="benbo" href="javascript:;" target="_blank"><i class="fa fa-cloud-download"></i></a><span>开源项目</span></div>
				    <div><a class="taobao" href="javascript:;" target="_blank"><i class="fa fa-feed"></i></a><span>淘宝店铺</span></div>
				    <div><a class="side-fx"><i class="fa fa-mail-forward"></i></a><span>分享本博</span></div>
		    </div>
		    <div class="bd-fx side-bdfx ">
			    <i class="fa fa-times el-remove fx-close"></i>
			    <ul class="bdsharebuttonbox bdshare-button-style1-32" data-bd-bind="1472956810753">
				    <li><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></li>
				    <li><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a></li>
				    <li><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a></li>
				    <li><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a></li>
			    </ul>
		    </div>
        </div>
    		
    		<style>
	            #cnzz_stat_icon_1260419029 a{display:none;}
	            .cnzz_a1{    display: block;font-weight: bold;line-height: 18px;font-size:16px;}
	            .cnzz_load{display:inline-block;width:15px;height:15px;background:url({$smarty.const.HOME_IMG}loading-small.gif)no-repeat center;background-size:100%;}
       		 </style>
        	
    <div class="web-author bg-color animation-div">
		    <div class="author-tx">
			    <a class="img-circle" href="/index.php/Home/Index/guanyu.html" title="点击查看详细信息">
                    
                        <img class="img-circle" src="images/user_logo.jpg">
                    
			    </a>
		    </div>
            

            <div class="author-name" style="text-align: center;">
                <p>人生贵知心，定交无暮早</p>
            </div>
            
		    <div class="data-info">
			    <ul>
				    <li><strong id="myday">0</strong><span id="htmer_time">运行天数</span></li>
				    <li>
                        <strong id="strong_ip">
                            <b class="cnzz_load">5</b>
                        </strong>
                        <span>今日访问ip</span>
                    </li>
				    <li style="display:none"><strong id="myip">待定</strong><span>今日访问ip</span></li>
				    <li><strong id="newcount">待定</strong><span>文章数量</span></li> 
			    </ul>
		    </div>

            <!--搜索-->
            <div class="search animation-div">
                <div class="form_div">
	                <div class="search-index">
	                	
			            <input name="keyword"  type="text" id="keyword" class="form-control search-box fr" value="请输入要查询的关键字" onfocus="if(this.value=='请输入要查询的关键字'){ this.value='' };" onblur="if(this.value==''){ this.value='请输入要查询的关键字' }">
			            <i class="fa fa-search fa-5x" onclick="SiteSearch()"><input value=" " type="submit"></i>
			            <script>
			            	//搜索查询
							function SiteSearch() {
							    var strwhere = document.getElementById("keyword").value;
							    if (strwhere != "" && strwhere !== "请输入要查询的关键字") {
							    	window.location.href = "/Home/Cont/Search/keyword/" + encodeURI(encodeURI(strwhere));
							    }else{
							    	return false;
							    }								
							}
			            </script>
			            
		            </div>
                </div>
            </div>
            <!--最新更新-->
            <div class="clos-new bg-color animation-div">
	            <h4 class="index-title"><i class="el-bulb fa fa-lightbulb-o"></i>最新更新<small>Close New</small></h4>
	            <ul>
                    <li><i class="el-cloud fa fa-sun-o"></i><iframe id="tianqi" scrolling="no" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&amp;id=34&amp;icon=1&amp;num=3"></iframe></li>
                    
                    <li><span><i class="el-arrow-up fa fa-paper-plane-o"></i>最近：</span><font class="blue-text">小陈</font><span class="newdata">10-11 14:54</span>
                    <a class="newUPtil" title="小陈">更新了<b class="lable"> 文章 </b></a></li>
                    
                    <li class="lishi"><i class="fa fa-calendar"></i>历史上的今天:<a class="orange-text" title="&nbsp;">&nbsp;&nbsp;</a></li>
                </ul>
            </div>
            <!--说说-->
            <div class="bg-color animation-div">
	            <h4 class="index-title"><i class="fa fa-headphones"></i>说说<small>Shuo Shuo</small></h4>
	            <div class="shuo-side">
				<ul>
					<li id="Hots">
						<span class="shuobg1"><strong>05-29 </strong></span>
						<div><a title="Apache 配置 单个项目 http重定向到https" href="/chatdetail/79.html">Apache 配置 单个项目 http重定向到https</a><b title="点击0">(0)</b></div>
					</li><li id="Hots">
						<span class="shuobg2"><strong>05-29 </strong></span>
						<div><a title="Address already in use: AH00072: make_sock: could not bind to address 0.0.0.0:443 no listening socke" href="/chatdetail/78.html">Address already in use: AH00072: make_sock: could not bind to address 0.0.0.0:443 no listening socke</a><b title="点击5">(5)</b></div>
					</li><li id="Hots">
						<span class="shuobg3"><strong>05-02 </strong></span>
						<div><a title="支付宝网站支付功能开发完成" href="/chatdetail/77.html">支付宝网站支付功能开发完成</a><b title="点击169">(169)</b></div>
					</li>		</ul>
			</div>
            </div>
            <!--推荐图文-->
            <div class="article-push  bg-color animation-div">
	            <h4 class="index-title"><i class="el-asl fa fa-fire"></i>推荐图文<small>Push Article</small></h4>
	            <ul>
			    <li>
			      <div class="arcimg img_loading">
			        <a href="/article/131.html" target="_blank">
			          <img src="/Upload/image/artimg/201803155aaa31a1ab9b8.png" alt="我的个人博客是如何申请百度联盟通过的？" title="我的个人博客是如何申请百度联盟通过的？">
			        </a>
			      </div>
			      <div class="arc-right">
			        <h4 class="blue-text"><a href="/article/131.html">我的个人博客是如何申请百度联盟通过的？</a></h4>
			        <p> 说实话，我从第一次开始申请百度联盟到申请通过，我也不知道花了多长时间，但我可以肯定的是应该有一年了，当然因为一直申请通过不了，打击了不少的积极性，申请的欲望也没有一开始那么强烈，直到我的博客有权重有预计流量我才开始琢磨着怎么能申请成功</p>
			        <ul>
			          <li><a title="发表于2018-03-15"><i class="el-time"></i>2018-03-15</a></li>
			          <li><a title="1034次浏览"><i class="el-fire"></i>1034</a></li>
			        </ul>
			      </div>
			    </li><li>
			      <div class="arcimg img_loading">
			        <a href="/article/64.html" target="_blank">
			          <img src="/Upload/image/artimg/20170118587f0307db632.jpg" alt="PHP生成excel表格导入及导出实用案例" title="PHP生成excel表格导入及导出实用案例">
			        </a>
			      </div>
			      <div class="arc-right">
			        <h4 class="blue-text"><a href="/article/64.html">PHP生成excel表格导入及导出实用案例</a></h4>
			        <p>以前记得总是用PHP生成csv格式的表格，可现在excel表格越来越流行了，许多公司都要求做成excel格式表格，但这并不复杂，因为phpexcel为我们提供了方便、快捷的excel操作类</p>
			        <ul>
			          <li><a title="发表于2017-05-16"><i class="el-time"></i>2017-05-16</a></li>
			          <li><a title="2595次浏览"><i class="el-fire"></i>2595</a></li>
			        </ul>
			      </div>
			    </li><li>
			      <div class="arcimg img_loading">
			        <a href="/article/57.html" target="_blank">
			          <img src="/Upload/image/artimg/2017032458d52f2124932.jpg" alt="Linux服务器运维常用操作命令" title="Linux服务器运维常用操作命令">
			        </a>
			      </div>
			      <div class="arc-right">
			        <h4 class="blue-text"><a href="/article/57.html">Linux服务器运维常用操作命令</a></h4>
			        <p>我把自己常用的Linux操作命令总结一下，以后用的时候也方便查找</p>
			        <ul>
			          <li><a title="发表于2017-03-23"><i class="el-time"></i>2017-03-23</a></li>
			          <li><a title="2059次浏览"><i class="el-fire"></i>2059</a></li>
			        </ul>
			      </div>
			    </li> 
			</ul>
            </div>
            <!--文章排行tab-->
            <div class="mytab bg-color animation-div">
	            <div class="tab-btn">
                    <a class="hd-btn tab-active" href="javascript:;" title=""><i class="fa fa-comments-o"></i>互动信息</a>
                    <a class="ph-btn" href="javascript:;" title=""><i class="fa fa-signal"></i>文章排行</a>
                </div>
                <!-- 互动信息 -->
	            <ul class="hudong-ul" style="display: block;"> 
	            <li><div class="sd-tx"><a href="null" target="_blank" rel="nofollow" title="去 she is my sin 的网站看看 ?"><img src="http://q.qlogo.cn/qqapp/101413096/B64F9D702417AD93A1726A50CC1CA72F/40" alt="she is my sin" class="img-circle"></a></div><div class="sd-name"><span><i class="fa fa-user-o"></i>she is my sin<time>2018-02-04 15:27:50</time></span><a class="blue-text comment_txt" href="/Home/Cont/xiang/c_id/19.html#pingluns" title="rtyry">rtyry</a></div></li><li><div class="sd-tx"><a href="null" target="_blank" rel="nofollow" title="去 she is my sin 的网站看看 ?"><img src="http://q.qlogo.cn/qqapp/101413096/B64F9D702417AD93A1726A50CC1CA72F/40" alt="she is my sin" class="img-circle"></a></div><div class="sd-name"><span><i class="fa fa-user-o"></i>she is my sin<time>2018-02-04 15:27:46</time></span><a class="blue-text comment_txt" href="/Home/Cont/xiang/c_id/19.html#pingluns" title="tyhththt">tyhththt</a></div></li></ul>
	            <!--文章排行-->
	            <ul class="paihang-ul" style="display: none;">  
	            <li><span></span><a href="/Home/Cont/xiang/c_id/3.html" title="分享整理的免费API接口">分享整理的免费API接口<b>(761)</b></a></li><li><span></span><a href="/Home/Cont/xiang/c_id/21.html" title="服务器安全配置常用软件 站长服务器常用软件 服务器常用组件 站长常用软件">服务器安全配置常用软件 站长服务器常用软件 服务器常用组件 站长常用软件<b>(689)</b></a></li><li><span></span><a href="/Home/Cont/xiang/c_id/19.html" title="ThinkPHP 上传图片添加水印实现">ThinkPHP 上传图片添加水印实现<b>(679)</b></a></li><li><span></span><a href="/Home/Cont/xiang/c_id/2.html" title="php字【符串操作函数】【数组函数】大全">php字【符串操作函数】【数组函数】大全<b>(556)</b></a></li><li><span></span><a href="/Home/Cont/xiang/c_id/6.html" title="一行jQuery代码搞定checkbox 全选和全不选">一行jQuery代码搞定checkbox 全选和全不选<b>(550)</b></a></li></ul>
	        </div>
<br/>
<!--<object type="application/x-shockwave-flash" style="outline:none;" data="http://cdn.abowman.com/widgets/dog/dog.swf?3?" width="100%" height="262" id="360videoname"><param name="movie" value="http://cdn.abowman.com/widgets/dog/dog.swf?3?"><param name="AllowScriptAccess" value="always"><param name="wmode" value="opaque"><param name="bgcolor" value="FFFFFF"></object>-->
            <!--标签-->
            <div class="cloud bg-color animation-div">
                <h4 class="index-title"><i class="fa fa-tag"></i>标签云<small>Tags Clouds</small></h4>
	            <ul id="3dcloud">
	            <li><a href="/Home/Cont/showMenu/tname/Jquery" title="2个话题">Jquery(2)</a></li><li><a href="/Home/Cont/showMenu/tname/Think%2520php" title="2个话题">Think php(2)</a></li><li><a href="/Home/Cont/showMenu/tname/PHP%25E5%259F%25BA%25E7%25A1%2580" title="10个话题">PHP基础(10)</a></li><li><a href="/Home/Cont/showMenu/tname/%250D%250A%25E6%25AD%25A3%25E5%2588%2599%25E8%25A1%25A8%25E8%25BE%25BE%25E5%25BC%258F" title="0个话题">
正则表达式(0)</a></li><li><a href="/Home/Cont/showMenu/tname/%25E7%25BD%2591%25E9%25A1%25B5%25E5%2589%258D%25E7%25AB%25AF" title="2个话题">网页前端(2)</a></li><li><a href="/Home/Cont/showMenu/tname/%250D%250AMySQL" title="1个话题">
MySQL(1)</a></li><li><a href="/Home/Cont/showMenu/tname/%250D%250A%25E4%25B8%25AA%25E4%25BA%25BA%25E5%258D%259A%25E5%25AE%25A2" title="1个话题">
个人博客(1)</a></li><li><a href="/Home/Cont/showMenu/tname/%250D%250AAjax" title="0个话题">
Ajax(0)</a></li><li><a href="/Home/Cont/showMenu/tname/%250D%250ACSS3" title="0个话题">
CSS3(0)</a></li><li><a href="/Home/Cont/showMenu/tname/PHP%25E7%25B1%25BB" title="3个话题">PHP类(3)</a></li><li><a href="/Home/Cont/showMenu/tname/%250D%250A%25E6%258F%2592%25E4%25BB%25B6%25E5%2588%2586%25E4%25BA%25AB" title="0个话题">
插件分享(0)</a></li><li><a href="/Home/Cont/showMenu/tname/%250D%250AAPI" title="1个话题">
API(1)</a></li><li><a href="/Home/Cont/showMenu/tname/%250D%250A%25E5%259B%25BE%25E7%2589%2587%25E4%25B8%258A%25E4%25BC%25A0" title="0个话题">
图片上传(0)</a></li></ul>
            </div>
            <!--友情链接-->
            <div class="side-link ">
	            <h4 class="index-title"><i class="fa fa-ticket"></i>友情链接
                    <small>Friend Links</small>
                    <a href="/Home/Index/link.html"><i class="fa fa-id-badge"></i>申请</a>
                </h4>
	            <ul id="link_url">
		          
	            <li><a href="http://chenyanwu.cc" target="_blank" title="小陈博客">小陈博客</a></li><li><a href="http://www.yizimei.net/" target="_blank" title="001">001</a></li></ul>
            </div>
	    </div>
</aside>
<!--=========右侧结束==========-->

    <!--/右侧-->
</div>
    <!--Header-->
    <!---底部开始-->
    <footer>
        <!--baidu自动推送代码-->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<!--站长需要在每个页面的HTML代码中包含以下自动推送JS代码：-->




<!--底部导航-->
	<div class="foot-nav">
		<div class="copy-right"><span >CopyRight © 2015-2017 小陈博客     Design by http://05mi.cn</span></div>
		<div class="bottom-nav">
			<span>
                <a href="https://tongji.baidu.com/web/welcome/ico?s=e0dafd10f8cd921df1724ef0cae09a59" target="_blank">百度统计</a>
                <a href="http://www.miitbeian.gov.cn/"> 浙ICP备16039435号</a>
            </span>
		</div>
	</div>
<div  id="toTop">Back to Top</div>

<script type="text/javascript">
    window.onload = function () {
        $(".img_loading").removeClass("img_loading");
        $(".silde-title").show();

        $(".comment_txt").each(function () {
            $(this).html($(this).html().replace(/\[Q([0-9]*)\]/g, "<img src='{$smarty.const.HOME_IMG}face/mr/$1.gif'>"));
            $(this).html($(this).html().replace(/\[yc_([0-9]*)\]/g, "<img src='{$smarty.const.HOME_IMG}face/yc/$1.gif'>"));
            $(this).html($(this).html().replace(/\[ali_([0-9]*)\]/g, "<img src='{$smarty.const.HOME_IMG}face/ali/$1.gif'>"));
        })
        //$("#comment_txt").text($("#comment_txt").text().replace(/\[Q([0-9]*)\]/g, "<img src='{$smarty.const.HOME_IMG}face/mr/$1.gif'>"));
        //$("#comment_txt").text($("#comment_txt").text().replace(/\[yc_([0-9]*)\]/g, "<img src='{$smarty.const.HOME_IMG}face/yc/$1.gif'>"));
        //$("#comment_txt").text($("#comment_txt").text().replace(/\[ali_([0-9]*)\]/g, "<img src='{$smarty.const.HOME_IMG}face/ali/$1.gif'>"));
        //document.getElementById('comment_txt').innerHTML = document.getElementById('comment_txt').innerHTML.replace(/\[Q([0-9]*)\]/g, "<img src='{$smarty.const.HOME_IMG}face/mr/$1.gif'>");
        //document.getElementById('comment_txt').innerHTML = document.getElementById('comment_txt').innerHTML.replace(/\[yc_([0-9]*)\]/g, "<img src='{$smarty.const.HOME_IMG}face/yc/$1.gif'>");
        //document.getElementById('comment_txt').innerHTML = document.getElementById('comment_txt').innerHTML.replace(/\[ali_([0-9]*)\]/g, "<img src='{$smarty.const.HOME_IMG}face/ali/$1.gif'>");
    }
    $(function () {
           var swiper = new Swiper('.swiper-container', {
               nextButton: '.swiper-button-next',
               prevButton: '.swiper-button-prev',
               pagination: '.swiper-pagination',
               paginationType: 'fraction',
               centeredSlides: true,
               autoplay: 5500, //自动播放时间
               autoHeight: true //自动高度
           });
           //瀑布流
           $('.su').jaliswall({ item: '.su-li' });
    });
   ajaxEash(".icon-speech", "", 0);
   ajaxEash(".icon-eye", "", 1);
</script>



<div class="select-skin">
<div class="skin-btn">
    <a href="javascript:void(0);" class="skin-btn-open">换<br>肤</a>
</div>

<div class="skin-content">
    <h1>选择风格<span class="skin-close">关闭</span></h1>
    <div class="skin-content-list">
        <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('qingxin'); return false;" class="btn1">清新</a></div>
        <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('jianyue'); return false;" class="btn2">简约</a></div>
		 <div class="skin-list"><a href="#" onclick="setActiveStyleSheet('qingshuang'); return false;" class="btn3">清爽</a></div>
    </div>
</div>	
</div>





<!-- 第三方登录 -->
	<div class="login" id="login" style="display:none">
		<div id="login_main">
			<div id="xx" class="xx"><i class="fa fa-times"></i></div>
			<div id="login_a">
				<div class="login_logo">
				</div>
				<div class="login_hr">
					<div class="login_logo_hr1"></div>
					<div class="login_logo_txt">使用第三方账号登录</div>
					<div class="login_logo_hr1"></div>
				</div>
				<div class="login_ico" style="clear:both">
					<a href="/Home/User/qq"><div class="login_ico1"></div></a>
					<a href=""><div class="login_ico2"></div></a>
					<a href=""><div class="login_ico3"></div></a>
				</div>
				<div class="login_nei">
					<a id="login_ji" href="javascript:;">手机号/站内账号登录</a>
				</div>
				<div class="login_nei1">
					<span>还没有账号?</span><a id="reg_a" href="javascript:;">注册新账号</a>
				</div>
				
				<br />	
				<br />
				<br />
			</div>
			
			<!-- 站内账号登录 -->
			<div id="login_b" style="display:none">
				<div id="fan" class="fan" onclick="fan_login()"><返回</div>
				<div class="login_logo">
				</div>
				<div class="login_hr">
					<div class="login_logo_hr1"></div>
					<div class="login_logo_txt">使用站内账号登录</div>
					<div class="login_logo_hr1"></div>
				</div>
				<div class="login_icoa clearfix">
					<form id="login_chick" action="./login/login.php" method="post">
						<input type="text" name="login_user"><span id="input_user"></span>
						<input type="password" name="login_pow"><span id="input_pow"></span>
						<button id="login_form">登录</button>
					</form>
				</div>
				<div class="login_nei1 clearfix">
					<span><a href="" style="color:#666">忘记密码?</a></span>
				</div>
				<br />	
				<br />
				<br />
			</div>


			<!-- 账号注册 -->
			<div id="login_c" style="display:none">
				<div id="fan" class="fan" onclick="fan_login()"><返回</div>
				<div class="login_logo">
				</div>
				<div class="login_hr">
					<div class="login_logo_hr1"></div>
					<div class="login_logo_txt">注册成为本站会员</div>
					<div class="login_logo_hr1"></div>
				</div>
				<div class="login_icoc clearfix">
					<form id="reg_chick" action="./login/login.php"method="post">
						账&nbsp;&nbsp;&nbsp;号:<input type="text" name="reg_user"><span id="reg_user">用于登录网站的账号</span><br />
						昵&nbsp;&nbsp;&nbsp;称:<input type="text" name="reg_nickname"><span id="regnikenames">输入一个昵称</span><br />
						密&nbsp;&nbsp;&nbsp;码:<input type="password" name="reg_pow1"><span id="reg_pow1">密码</span><br />
						重复密码:<input type="password" name="reg_pow2"><span id="reg_pow2">确认密码</span><br />					
						<button id="reg_form">注册</button>
					</form>
				</div>
				<div class="login_nei1 clearfix">
					<span style="font-size:12px;margin-left:-80px">点击注册按钮即代表你同意<a href="">版权申明</a></span>
				</div>
				<br />	
				<br />
				<br />
			</div>

		</div>
	</div>



<script>

		
	 // 登录框切换	
	var login=document.getElementById("login");
	var login=document.getElementById("login");
	var login_a=document.getElementById("login_a");
	var login_b=document.getElementById("login_b");
	var login_c=document.getElementById("login_c");
	document.getElementById("xx").onclick=function(){
		login.style.display="none";
		fan_login()
	}
	document.getElementById("login_qq").onclick=function(){
		login.style.display="block";
	}
	document.getElementById("login_ji").onclick=function(){
		
		logins();
	}
	document.getElementById("reg_a").onclick=function(){
		
		login_a.style.display="none";
		login_b.style.display="none";
		login_c.style.display="block";
	}
	function logins(){
		login_a.style.display="none";
		login_b.style.display="block";
		login_c.style.display="none";
	}
	function fan_login(){
		login_a.style.display="block";
		login_b.style.display="none";
		login_c.style.display="none";
	}
	

	/*
		登录验证
	 */
	var login_form=document.getElementById("login_form");
	var login_chick=document.getElementById("login_chick");
	var user=login_chick.children[0];
	var pow=login_chick.children[2];
	user.value="请输入账号";
	// pow.value="请输入密码";

	user.onfocus=function(){
		if(user.value=="请输入账号"){			
			user.value="";
		}
	}
	user.onblur=function(){
		if(user.value==""){
			user.value="请输入账号";
			document.getElementById("input_user").innerHTML="";			
		}else if(user.value=="请输入账号"){

		}else{
			document.getElementById("input_user").innerHTML="<img src='./images/ico_ckick.gif'>";			
		}
	}
	pow.onblur=function(){
		if(pow.value==""){
			// document.getElementById("input_pow").innerHTML="请输入账号";
			document.getElementById("input_pow").innerHTML="";			
		}else{

			document.getElementById("input_pow").innerHTML="<img src='./images/ico_ckick.gif'>";			
		}
	}
	login_form.onclick=function(){
		if(!(user.value=="")&(!pow.value=="")){
			return true;
		}
		alert("请输入账号密码");
		return false;
	}



	// 注册验证
	var reg_chick=document.getElementById("reg_chick");
	var reg_user=reg_chick.getElementsByTagName("input")[0];		
	var reg_nickname=reg_chick.getElementsByTagName("input")[1];		
	var reg_pow1=reg_chick.getElementsByTagName("input")[2];		
	var reg_pow2=reg_chick.getElementsByTagName("input")[3];
	var user_span=document.getElementById("reg_user");

	reg_user.value="请输入账号";		
	reg_nickname.value="请输入昵称";		
	// reg_pow1.value="请输入密码";		
	// reg_pow2.value="再输入一次密码";		
	reg_user.onfocus=function(){
		if(reg_user.value=="请输入账号"){			
			reg_user.value="";
		}
	}
	reg_nickname.onfocus=function(){
		if(reg_nickname.value=="请输入昵称"){			
			reg_nickname.value="";
		}
	}
	reg_user.onblur=function(){
		user_span.style.color="";

		if(reg_user.value=="请输入账号"){
			user_span.innerHTML="";			

		}else{
			user_span.innerHTML="<img src='./images/ico_ckick.gif'>";			
		}
		if(reg_user.value==""){
			reg_user.value="请输入账号";
			user_span.innerHTML="用于登录的账号";			
		}else{
			// 检测数据库是否存在该账户
			var xhr=new XMLHttpRequest();
			var fd=reg_user.value;
			xhr.onreadystatechange=function(){	
				if(xhr.readyState == 4 && xhr.status == 200){				
					var txt=xhr.responseText;
					if(txt=="1"){
						user_span.innerHTML="该账户已存在!";
						user_span.style.color="red";
					}
					if(txt=="2"){
						user_span.innerHTML="账户可以使用!";
						user_span.style.color="green";
					}
				}		
			}
			xhr.open("get","./login/login.php?user="+encodeURIComponent(fd));
			// xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
			xhr.send(null);
		}
	}
	reg_nickname.onblur=function(){
		if(reg_nickname.value==""){
			reg_nickname.value="请输入昵称";
			document.getElementById("regnikenames").innerHTML="输入一个昵称";			
		}else if(reg_nickname.value=="请输入昵称"){
			document.getElementById("regnikenames").innerHTML="";			

		}else{
			document.getElementById("regnikenames").innerHTML="<img src='./images/ico_ckick.gif'>";			
		}
	}


	reg_pow1.onblur=function(){
		if(reg_pow1.value==""){
			document.getElementById("reg_pow1").innerHTML="请输入密码";						
		}
		else if(!(/^[A-Za-z0-9]{ 6,20 }$/).exec(reg_pow1.value)){			
			document.getElementById("reg_pow1").innerHTML="请输入6-20位字符";						
		}
		else{
			document.getElementById("reg_pow1").innerHTML="<img src='./images/ico_ckick.gif'>";						
		}
	}
	reg_pow2.onblur=function(){
		if(reg_pow2.value==""){
			document.getElementById("reg_pow2").innerHTML="请输入密码";						
		}else if(reg_pow2.value!==reg_pow1.value){
			document.getElementById("reg_pow2").innerHTML="输入的密码不一致";			
		}else{
			document.getElementById("reg_pow2").innerHTML="<img src='./images/ico_ckick.gif'>";			
		}
	}


	document.getElementById("reg_form").onclick=function(){
		if(reg_user.value==""||reg_nickname.value==""||reg_pow1.value==""||reg_pow2.value==""||reg_pow2.value!==reg_pow1.value){
			return false;
		}
		return true;		
	}
</script>  
    </footer>
    <!--END 底部结束-->


</body>
</html>

