<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta baidu-gxt-verify-token="b1f65b5aa08f5944f75876dd1057ae5b">
<title>Tinko博客</title>
<meta name="keywords" content="小丁博客，开发技术分享，不断积累，与大家共同进步！" />
<meta name="description" content="小丁博客，开发技术分享，不断积累，与大家共同进步！" />
<meta name="author" content="小丁" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable="no" />
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="shortcut icon" th:href="@{/home/images/icon/favicon.ico}" />
<!--<link rel="stylesheet" th:href="@{/home/css/index.css}" />-->
<link rel="stylesheet" th:href="@{/home/css/my.css}">
<link rel="stylesheet" th:href="@{/home/css/default.css}">
<link rel="stylesheet" th:href="@{/home/css/public.css}">
<link rel="stylesheet" th:href="@{/home/css/animation.css}">
<link rel="stylesheet" type="text/css" th:href="@{/home/css/skin_1.css}" title="qingxin"/>
<link rel="stylesheet" type="text/css" th:href="@{/home/css/skin_2.css}" title="jianyue"/>
<link rel="stylesheet" type="text/css" th:href="@{/home/css/skin_3.css}" title="qingshuang"/>
<link rel="stylesheet" th:href="@{/home/css/font-icon.css}">
<link rel="stylesheet" th:href="@{/home/css/face.css}">
<script type="text/javascript" th:src="@{/home/js/jquery.2.1.4.min.js}"></script>

<script type="text/javascript" th:src="@{/home/js/my.js}"></script>
<script type="text/javascript" th:src="@{/home/js/superbg.min.js}"></script>
<script type="text/javascript" th:src="@{/home/js/superbg-custom.js}"></script>
<script type="text/javascript" th:src="@{/home/js/album.js}"></script>
<script type="text/javascript" th:src="@{/home/js/tooltip.js}"></script>
<script type="text/javascript" th:src="@{/home/js/face.js}"></script>
<script type="text/javascript" th:src="@{/home/js/layer/layer.js}" ></script>
<script type="text/javascript" th:src="@{/home/js/checkform.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/home/js/skin.js}"></script>
<script type="text/javascript" th:src="@{/home/js/swiper.min.js}"></script>
<link rel="stylesheet" th:href="@{/home/css/swiper.css}">

</head>
<body class="nobg" oncontextmenu="return false">
<div th:replace="home/fragments/header::header"></div>
<!--主题框架开始-->
<div class="container">
    <!--左侧开始-->
    <section class="mysection">
        <div class="slide-box">
            <div class="swiper-container swiper-container-horizontal swiper-container-autoheight">
                <ul class="slides swiper-wrapper" style="height: 390px; transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">

                    <li class="swiper-slide swiper-slide-active" style="width: 780px;">
                        <a href="javascript:void(0);">
                            <img th:src="@{/home//images/home_pic_1.png}" height="220px" width="780px" >
                        </a>
                        <!-- Add Pagination -->
                        <div class="slide-foot">
                            <div class="swiper-pagination swiper-pagination-fraction"><span class="swiper-pagination-current">1</span> / <span class="swiper-pagination-total">2</span></div>
                            <span class="silde-title" style=""><b> 代码--三思而动！</b></span>
                        </div>
                    </li>
                    <li class="swiper-slide swiper-slide-next" style="width: 780px;">
                        <a href="javascript:void(0);">
                            <img th:src="@{/home/images/home_pic_2.jpg}" height="220px" width="780px" >
                        </a>
                        <!-- Add Pagination -->
                        <div class="slide-foot">
                            <div class="swiper-pagination swiper-pagination-fraction"><span class="swiper-pagination-current">1</span> / <span class="swiper-pagination-total">2</span></div>
                            <span class="silde-title" style=""><b> 如你一般，默默努力，坚持前行！</b></span>
                        </div>
                    </li>

                </ul>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev swiper-button-disabled"></div>
            </div>
        </div>
        <div class="arclist">
            <h4 class="index-title homeh4"><a href=""><i class="el-certificate"></i>最新文章<small>New Article</small></a></h4>
            <!--列表开始-->
            <ul>
                <th:block th:each="post : ${articles.list}">
                <li style="height: 160px">
                    <div class="arcimg">
                        <img th:src="@{/home/images/default/default.png}" alt="分享整理的免费API接口" title="分享整理的免费API接口">
                    </div>
                    <div class="arc-right">
                        <h4 class="blue-text"><a target="view_frame" th:href="@{'/detail/'+${post.cid}}" th:title="${post.title}" th:text="${post.title}"></a></h4>
                        <th:block th:utext="${commons.article(commons.subStr(post.content,50))}"></th:block>
                        <ul>
                            <li><i class="fa fa-calendar"></i><a title="小陈 2018-05-13 发表 " th:text="${commons.fmtdate(post.created, 'yyyy-MM-dd')}"></a></li>
                            <li><a href="#" title="作者： 小丁"><i class="fa fa-user"></i>小丁</a></li>
                            <li><a href="#" title="评论数"><i class="fa fa-commenting-o"></i><em th:text="${post.commentsNum}"></em></a></li>
                            <li><a title="浏览数"><i class="fa fa-eye"></i><em th:text="${post.hits}"></em></a></li>
                            <li><a href="/category" title="查看分类"><i class="fa fa-th-list" th:text="${post.categories}"></i></a></li>
                        </ul>
                    </div>
                </li>
                </th:block>
            </ul>
            <!--列表结束-->
        </div>
        <!-- 最新素材 -->
        <div class="sucailist mob-hidden">
            <h4 class="index-title"><a href=""><i class="el-certificate"></i>最新素材
                <small>New sucai</small>
            </a></h4>
            <!--列表开始-->
            <ul class="su">
                <div class="wall-column">
                    <div class="su-li" id="">
                        <!-- <li class="su-li"id="Hot"> -->
                        <a href="/downdetail/26.html" title="纯CSS3 3D立方体焦点图动画">
                            <div class="sucaiimg">
                                <img th:src="@{/home/images/201805305b0e0eadcdaf3.png}" alt="纯CSS3 3D立方体焦点图动画">
                            </div>
                        </a>
                        <div class="sucai-right">
                            <h4 class="blue-text"><a href="/downdetail/26.html" title="纯CSS3 3D立方体焦点图动画">纯CSS3
                                3D立方体焦点图动画</a></h4>
                            <ul>
                                <li><a title="纯CSS3 3D立方体焦点图动画2018-05-30发表 "><i class="fa fa-clock-o"></i>2018-05-30</a></li>
                                <li class="mob-hidden">
                                    <i class="el-download-alt"></i>
                                    <a href=""><i class="fa fa-download">16</i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ul>
            <!--列表结束-->
        </div>
    </section>
    <!--左侧结束-->
    <!-- <script type="text/javascript" src="js/common.js"></script> -->
    <div th:replace="home/fragments/aside::aside"></div>
    <!--/右侧-->
</div>
<!--Header-->
<div th:replace="home/fragments/footer::footer"></div>
</body>
</html>

